@font-face {
  font-family: 'SUIT-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
body {
    padding:1.5em;
    background: white
  }
  
  table {
    font-family: 'SUIT-Regular';
    box-shadow: 0 2px 5px rgba(0,0,0,.25);
    width: 50%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    border-radius: 5px;
    overflow: hidden;
  }
  
  th {
    font-size: 1.05em;
    font-weight:bolder;
    text-align: center;
  }
.tooltip {
    display: inline-block;
    font-weight: bold;
  }
.tooltip-text{
    display: none;	/*평소에 안보여야 하니까 none으로*/
    position: absolute;	/*공중에 띄어져있으니까 absolute*/
    max-width: 200px;
    border: 1px solid;
    border-radius: 5px;
    padding: 5px;
    font-family: 'SUIT-Regular';
    font-size: 0.8em;
    color: black;
    text-align: left;
    background: rgb(53, 94, 255)
  }
  .tooltip:hover .tooltip-text {
    display: block;	/*마우스 올렸을때 나타나도록*/
  }
  thead {
    
    color: black;
    text-align: center;
    background:rgb(53, 94, 255,0.5)
  }
    
   td, th {
    padding: 1em .5em;
    vertical-align: middle;
    text-align: center;
  }
    
   td {
    border-bottom: 1px solid rgba(0,0,0,.1);
    background: white
  }
  
  a {
    color:rgb(53, 94, 255,0.5)
  }
    
   @media all and (max-width: 768px) {
      
    table, thead, tbody, th, td, tr {
      display: block;
    }
    
    th {
      text-align: right;
    }
    
    table {
      position: relative; 
      padding-bottom: 0;
      border: none;
      box-shadow: 0 0 10px rgba(0,0,0,.2);
    }
    
    thead {
      float: left;
      white-space: nowrap;
    }
    
    tbody {
      overflow-x: auto;
      overflow-y: hidden;
      position: relative;
      white-space: nowrap;
    }
    
    tr {
      display: inline-block;
      vertical-align: top;
    }
    
    th {
      border-bottom: 1px solid #a39485;
    }
    
    td {
      border-bottom: 1px solid #e5e5e5;
    }
    
    
    }

.inner  {
    
    padding-top: 2px;

}
.good-state  {
    color: #1dcfff;
}
.moderate-state  {
    color: rgb(253, 184, 13);
}
.other-state  {
    color: red;
}

.health1 {
  color: #dc250e
}
.health2 {
  color: #ffd701
}
.health3 {
  color: #93c701
}
main > .total {
    font-family: 'SUIT-Regular';
    font-weight: bold;
    width : 50%;
    margin-left:auto; 
    margin-right:auto;
}
.good-state2  {
    color: #1dcfff;
}
.moderate-state2  {
    color: rgb(253, 184, 13);
}
.other-state2  {
    color: red;
}

.other {
  color:rgb(53, 94, 255);
  text-decoration: underline;
}